# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# --- Virtual Environments ---
.venv/
venv/
ENV/
env/
*.env

data/
*.csv
*.tsv
*.xlsx
*.json
*.h5
*.keras
*.pkl
*.joblib

models/
!models/.gitkeep   # keep folder but ignore contents

*.log
*.out
*.tmp
*.ckpt
*.checkpoint

.vscode/
.idea/
.DS_Store
Thumbs.db
