# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# --- Virtual Environments ---
.venv/
venv/
ENV/
env/
*.env


# --- Model Files ---
models/*
!models/scaler.pkl
!models/logistic_regression.pkl
!models/autoencoder.h5

# --- Checkpoints / Artifacts ---
*.log
*.out
*.tmp
*.ckpt
*.checkpoint

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
