# Core ML
scikit-learn
imbalanced-learn
tensorflow

# Data handling
pandas
numpy

# Visualization / EDA
matplotlib
seaborn
plotly

# Streamlit app
streamlit

# Utilities
joblib
pathlib

# Jupyter
notebook
ipython
